#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Palatino Linotype", serif;
  margin: 0;
  color: #8d8d8d;
}

nav {
  padding: 10px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  height: 70px;
  z-index: 9999;
}
.logo h2 img {
  margin-top: 8px;
  height: 75px;
  width: 75px;
  position: relative;
}

nav h1 {
  font-size: 36px;
  font-weight: bold;
  color: #106703;
  text-align: center;
  flex: 1;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #105b05;
}

nav ul li a:hover {
  color: #0e5503;
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    gap: 0;
    overflow: hidden;
    max-height: 500px;
    transition: all 0.5s ease;
    z-index: 9998;
  }

  nav ul li {
    padding: 20px;
    padding-top: 0px;
  }

  body {
    padding-top: 80px;
  }

  #map {
    top: 160px;
  }

  #sidebar {
    position: absolute;
    top: 50px;
    right: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    z-index: 10000;
    overflow-y: auto;
  }
}

@media (max-width: 380px) {
  #map {
    top: 190px;
  }
}

#sidebar {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333333;
  cursor: pointer;
  z-index: 10001;
}

#sidebar p {
  margin-bottom: 12px;
  line-height: 1.4;
}

#sidebar img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  margin: 15px 0;
}
